In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/home/pamalo/zrive-ds/data/module_2/feature_frame.csv")

In [4]:
data.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
0,33826472919172,ricepastapulses,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
1,33826472919172,ricepastapulses,2808027644036,3466586718340,2020-10-05 17:59:51,2020-10-05 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
2,33826472919172,ricepastapulses,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05 00:00:00,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
3,33826472919172,ricepastapulses,2808393957508,3291363377284,2020-10-06 08:57:59,2020-10-06 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
4,33826472919172,ricepastapulses,2808429314180,3537167515780,2020-10-06 10:37:05,2020-10-06 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880549 entries, 0 to 2880548
Data columns (total 27 columns):
 #   Column                            Dtype
---  ------                            -----
 0   variant_id                        int64
 1   product_type                      object
 2   order_id                          int64
 3   user_id                           int64
 4   created_at                        object
 5   order_date                        object
 6   user_order_seq                    int64
 7   outcome                           float64
 8   ordered_before                    float64
 9   abandoned_before                  float64
 10  active_snoozed                    float64
 11  set_as_regular                    float64
 12  normalised_price                  float64
 13  discount_pct                      float64
 14  vendor                            object
 15  global_popularity                 float64
 16  count_adults                      float64
 17  count_children                    float64
 18  count_babies                      float64
 19  count_pets                        float64
 20  people_ex_baby                    float64
 21  days_since_purchase_variant_id    float64
 22  avg_days_to_buy_variant_id        float64
 23  std_days_to_buy_variant_id        float64
 24  days_since_purchase_product_type  float64
 25  avg_days_to_buy_product_type      float64
 26  std_days_to_buy_product_type      float64
dtypes: float64(19), int64(4), object(4)
memory usage: 593.4+ MB

In [9]:
# we have seen in EDA that it is a good idea label the columns in groups
info_cols = ['variant_id', 'order_id', 'user_id', 'created_at', 'order_date']
label_col = 'outcome'
categorical_cols = ['product_type', 'vendor']
binary_cols = ['ordered_before', 'abandoned_before', 'active_snoozed', 'set_as_regular']
numerical_cols = [
    'user_order_seq',
    'normalised_price',
    'discount_pct',
    'global_popularity',
    'count_adults',
    'count_children',
    'count_babies',
    'count_pets',
    'people_ex_baby',
    'days_since_purchase_variant_id',
    'avg_days_to_buy_variant_id',
    'std_days_to_buy_variant_id',
    'days_since_purchase_product_type',
    'avg_days_to_buy_product_type',
    'std_days_to_buy_product_type'
]

features_cols = categorical_cols + binary_cols + numerical_cols

In [84]:
# We only want the orders with 5 items
count_items = data.groupby('order_id')['outcome'].sum() 
special_orders = count_items >= 5  
data_filtered = data[data['order_id'].isin(special_orders[special_orders].index)]

In [85]:
print(count_items[count_items >= 5].describe())

count    2603.000000
mean       12.035728
std         6.122365
min         5.000000
25%         8.000000
50%        11.000000
75%        15.000000
max        78.000000
Name: outcome, dtype: float64

In [86]:
data_filtered.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
0,33826472919172,ricepastapulses,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
1,33826472919172,ricepastapulses,2808027644036,3466586718340,2020-10-05 17:59:51,2020-10-05 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
2,33826472919172,ricepastapulses,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05 00:00:00,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
3,33826472919172,ricepastapulses,2808393957508,3291363377284,2020-10-06 08:57:59,2020-10-06 00:00:00,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618
5,33826472919172,ricepastapulses,2808434524292,3479090790532,2020-10-06 10:50:23,2020-10-06 00:00:00,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.27618

In [100]:
#In EDA we have seen that It will be good to split the data temporally
# Sort by order_date
data_filtered['order_date'] = pd.to_datetime(data_filtered['order_date'])
data_filtered.sort_values(by='order_date', inplace=True)

# Define 70% train, 15% validation, 15% test
train_size = int(0.7 * len(data_filtered))
val_size = int(0.15 * len(data_filtered))

# Split the data
train_data = data_filtered[:train_size]
val_data = data_filtered[train_size:train_size+val_size]
test_data = data_filtered[train_size+val_size:]

print(f"Training data: \nFrom {train_data['order_date'].min()} to {train_data['order_date'].max()}")
print(f"Length of training data: {len(train_data)}\n")

print(f"Validation data: \nFrom {val_data['order_date'].min()} to {val_data['order_date'].max()}")
print(f"Length of validation data: {len(val_data)}\n")

print(f"Test data: \nFrom {test_data['order_date'].min()} to {test_data['order_date'].max()}")
print(f"Length of test data: {len(test_data)}")

/tmp/ipykernel_19856/3238444099.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['order_date'] = pd.to_datetime(data_filtered['order_date'])

Training data:
From 2020-10-05 00:00:00 to 2021-02-09 00:00:00
Length of training data: 1514767

Validation data:
From 2021-02-09 00:00:00 to 2021-02-20 00:00:00
Length of validation data: 324592

Test data:
From 2021-02-20 00:00:00 to 2021-03-03 00:00:00
Length of test data: 324594

/tmp/ipykernel_19856/3238444099.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered.sort_values(by='order_date', inplace=True)

In [101]:
train_data.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
0,33826472919172,ricepastapulses,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.134053,30.0,30.0,24.276180
2836077,33803539415172,fabricconditionerfreshener,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,34.0,27.693045,30.0,36.0,28.588469
1352326,33826428485764,longlifemilksubstitutes,2808099078276,3481384026244,2020-10-05 20:08:53,2020-10-05,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,34.0,27.693045,30.0,25.0,21.048990
140269,34086450954372,allpurposecleaner,2807985930372,3482464092292,2020-10-05 16:46:19,2020-10-05,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,44.0,30.830268,30.0,36.0,28.268085
140270,34086450954372,allpurposecleaner,2808027644036,3466586718340,2020-10-05 17:59:51,2020-10-05,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,44.0,30.830268,30.0,36.0,28.268085

In [102]:
val_data.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
1091473,33720735268996,haircare,2918183403652,3904391676036,2021-02-09 19:24:53,2021-02-09,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,30.5,29.665496,30.0,32.0,28.189363
1091472,33720735268996,haircare,2918180061316,3777574928516,2021-02-09 19:19:05,2021-02-09,4,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,30.5,29.665496,20.0,32.0,28.189363
1091470,33720735268996,haircare,2918149587076,3813372166276,2021-02-09 18:31:53,2021-02-09,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,30.5,29.665496,30.0,32.0,28.189363
473730,34173018734724,homebaking,2918287769732,3510998990980,2021-02-09 22:09:06,2021-02-09,5,0.0,0.0,0.0,...,0.0,0.0,2.0,2.0,33.0,34.5,32.267135,30.0,28.5,23.710730
1091469,33720735268996,haircare,2918143131780,3788963217540,2021-02-09 18:21:11,2021-02-09,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,30.5,29.665496,30.0,32.0,28.189363

In [103]:
test_data.head()

,variant_id,product_type,order_id,user_id,created_at,order_date,user_order_seq,outcome,ordered_before,abandoned_before,...,count_children,count_babies,count_pets,people_ex_baby,days_since_purchase_variant_id,avg_days_to_buy_variant_id,std_days_to_buy_variant_id,days_since_purchase_product_type,avg_days_to_buy_product_type,std_days_to_buy_product_type
1432600,33826414461060,ricepastapulses,2926603337860,3915576246404,2021-02-20 16:55:52,2021-02-20,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.506422,14.0,30.0,24.27618
1432601,33826414461060,ricepastapulses,2926635647108,3857343447172,2021-02-20 17:34:07,2021-02-20,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.506422,30.0,30.0,24.27618
1432603,33826414461060,ricepastapulses,2926669463684,3824302391428,2021-02-20 18:30:29,2021-02-20,6,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,33.0,42.0,31.506422,30.0,30.0,24.27618
1432604,33826414461060,ricepastapulses,2926717927556,3440396468356,2021-02-20 19:50:17,2021-02-20,3,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.506422,10.0,30.0,24.27618
1432606,33826414461060,ricepastapulses,2926761083012,3917513621636,2021-02-20 21:04:34,2021-02-20,2,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,33.0,42.0,31.506422,30.0,30.0,24.27618